/*NAVBAR*/
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    z-index: 1000;
    display: grid;
    grid-template-areas: "logo contenedor_menu";
    grid-template-columns: 100px auto;
    align-items: center;
    padding: 0px 20px;
    height: 120px;
}

.logo {
    grid-area: logo;
    display: flex;
}

.logo img {
    width: 90px;
}

.telefono {
    grid-area: telefono;
    display: flex;
}

.contenedor_menu {
    grid-area: contenedor_menu;
    display: flex;
}

/* MENU */
.menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.menu ul li {
    position: relative;
}

.menu ul li a {
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.menu .menu_nivel_2,
.menu .menu_nivel_3,
.menu .menu_nivel_4,
.menu .menu_nivel_5 {
    display: none;
    position: absolute;
    background-color: #333;
    top: 100%;
    left: 0;
    min-width: 180px;
    z-index: 999;
}

.menu ul li:hover>ul {
    display: block;
}

.menu .menu_nivel_3,
.menu .menu_nivel_4,
.menu .menu_nivel_5 {
    left: 100%;
    top: 0;
}

.icono_hamburguesa {
    display: none;
}

.icono_cerrar {
    display: none;
}


.menu_derecha {
    display: flex;
}

.content {
    padding-top: 120px;
}


@media (max-width: 1000px) {

    .icono_hamburguesa {
        display: block;
    }

    .icono_cerrar {
        display: block;
    }

    .navbar {
        grid-template-areas: "logo"
            "contenedor_menu";
        grid-template-columns: auto auto;
    }

    .contenedor_menu {
        display: none;
        position: fixed;
        background-color: #333;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 999;
        flex-direction: column;
    }

    .contenedor_menu.contenedor_menu_abierto {
        display: flex;
    }

    /* MENU */
    .menu {
        flex-direction: column;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu .menu_nivel_2,
    .menu .menu_nivel_3,
    .menu .menu_nivel_4,
    .menu .menu_nivel_5 {
        display: none;
        position: relative;
        top: 0;
        left: 0;
        min-width: 100%;
    }

    .menu .menu_nivel_3,
    .menu .menu_nivel_4,
    .menu .menu_nivel_5 {
        left: 0;
        top: 0;
        min-width: 100%;
    }

    .menu_derecha{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}