/*NAVBAR*/
.web_menu_principal {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-fondo-primario);
    color: var(--color-texto-cuaternario);
    z-index: 1000;
    display: grid;
    grid-template-areas: "logo contenedor_menu";
    grid-template-columns: 120px auto;
    grid-gap: 10px;
    align-items: center;
    padding: 0px 20px;
    height: var(--altura-header-principal-computadora);
    font-size: 14px;
}

.web_menu_principal .icono_hamburguesa {
    display: none;
}

.web_menu_principal .icono_cerrar {
    display: none;
}

.web_menu_principal .icono {
    font-size: 20px;
    cursor: pointer;
}

.web_menu_principal .logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    gap: 10px;
}

.web_menu_principal .logo img {
    width: 90px;
}

.web_menu_principal .telefono {
    grid-area: telefono;
    display: flex;
}

.web_menu_principal .contenedor_menu {
    grid-area: contenedor_menu;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* MENU */
.web_menu_principal .menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.web_menu_principal .menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.web_menu_principal .menu ul li {
    position: relative;
}

.web_menu_principal .menu ul li a {
    display: block;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

.web_menu_principal .menu_izquierda .menu_nivel_2,
.web_menu_principal .menu_izquierda .menu_nivel_3,
.web_menu_principal .menu_izquierda .menu_nivel_4,
.web_menu_principal .menu_izquierda .menu_nivel_5 {
    display: none;
    position: absolute;
    background-color: var(--color-fondo-primario);
    top: 100%;
    left: 0;
    min-width: 180px;
    z-index: 999;
}

.web_menu_principal .menu_izquierda .menu_nivel_3,
.web_menu_principal .menu_izquierda .menu_nivel_4,
.web_menu_principal .menu_izquierda .menu_nivel_5 {
    left: 100%;
    top: 0;
}

.web_menu_principal .menu_derecha .menu_nivel_2,
.web_menu_principal .menu_derecha .menu_nivel_3,
.web_menu_principal .menu_derecha .menu_nivel_4,
.web_menu_principal .menu_derecha .menu_nivel_5 {
    display: none;
    position: absolute;
    background-color: var(--color-fondo-primario);
    top: 100%;
    right: 0;
    min-width: 180px;
    z-index: 999;
}

.web_menu_principal .menu_derecha .menu_nivel_3,
.web_menu_principal .menu_derecha .menu_nivel_4,
.web_menu_principal .menu_derecha .menu_nivel_5 {
    right: 100%;
    top: 0;
}

.web_menu_principal .menu_izquierda ul li:hover>ul,
.web_menu_principal .menu_derecha ul li:hover>ul {
    display: block;
}

.web_menu_principal .menu_izquierda {
    display: flex;
}

.web_menu_principal .menu_derecha {
    display: flex;
}

.web_menu_principal .botones {
    display: flex;
    align-items: center;
    gap: 10px;
}

.web_menu_principal .boton {
    background-color: var(--color-fondo-secundario);
    border-radius: 8px;
    font-weight: 700;
    padding: 5px 10px;
    font-size: 13px;
}

@media (max-width: 1000px) {

    /*NAVBAR*/
    .web_menu_principal {
        height: var(--altura-header-principal-movil);
    }

    .web_menu_principal .logo img {
        width: 80px;
    }

    .web_menu_principal .icono_hamburguesa {
        display: block;
    }

    .web_menu_principal .icono_cerrar {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    .web_menu_principal .navbar {
        grid-template-areas: "logo"
            "contenedor_menu";
        grid-template-columns: auto auto;
    }

    .web_menu_principal .contenedor_menu {
        display: none;
        position: fixed;
        background-color: var(--color-fondo-primario);
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 999;
        flex-direction: column;
        padding: 20px;
    }

    .web_menu_principal .contenedor_menu.contenedor_menu_abierto {
        display: flex;
    }

    /* MENU */
    .web_menu_principal .menu {
        flex-direction: column;
    }

    .web_menu_principal .menu ul {
        flex-direction: column;
    }

    .web_menu_principal .menu .menu_nivel_2,
    .web_menu_principal .menu .menu_nivel_3,
    .web_menu_principal .menu .menu_nivel_4,
    .web_menu_principal .menu .menu_nivel_5 {
        display: none;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        min-width: 100%;
    }

    .web_menu_principal .menu .menu_nivel_3,
    .web_menu_principal .menu .menu_nivel_4,
    .web_menu_principal .menu .menu_nivel_5 {
        left: 0;
        right: 0;
        top: 0;
        min-width: 100%;
    }

    .web_menu_principal .menu_derecha {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .web_menu_principal .botones {
        flex-direction: column;
        gap: 20px;
    }
}