.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #333;
    display: flex;
}

.navbar ul li {
    position: relative;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #111;
}

.navbar ul ul {
    display: none;
    position: absolute;
    background-color: #333;
    top: 100%;
    left: 0;
    min-width: 180px;
    z-index: 999;
}

/* Submenú del segundo nivel */
.navbar ul ul ul {
    left: 100%;
    top: 0;
}

/* Submenú del tercer nivel */
.navbar ul ul ul ul {
    left: 100%;
    top: 0;
}

/* Mostrar submenú al pasar el ratón */
.navbar ul li:hover > ul {
    display: block;
}

.navbar ul ul li {
    float: none;
}

.navbar ul ul li a {
    padding: 10px;
    text-align: left;
}

.navbar ul ul li a:hover {
    background-color: #555;
}

.content {
    padding-top: 60px;
}
