.contenedor_layout_web {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 1 auto;
    min-height: 100vh;
}

.contenedor_layout_web_pagina {
    margin-top: var(--altura-header-principal-computadora);
}

.g_contenedor_pagina {
    background-color: white;
}

.g_centrar_contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 100%;
}

.g_centrar_pagina {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

@media (max-width: 1000px) {
    .contenedor_layout_web_pagina {
        margin-top: var(--altura-header-principal-movil);
    }
}