:root {

    /* COLORES */
    --color-fondo-primario: #3d0a0c;
    --color-fondo-secundario: #d03336;
    --color-fondo-terciario: #f0c52e;
    --color-fondo-cuaternario: #ffffff;
    --color-fondo-quinario: #e9e9e9;
    --color-fondo-senario: #b18322;
    --color-fondo-septenario: #778089;

    --color-texto-primario: #3d0a0c;
    --color-texto-secundario: #d03336;
    --color-texto-terciario: #f0c52e;
    --color-texto-cuaternario: #ffffff;
    --color-texto-quinario: #e9e9e9;
    --color-texto-senario: #b18322;
    --color-texto-septenario: #778089;

    --color-borde-primario: #3d0a0c;
    --color-borde-secundario: #d03336;
    --color-borde-terciario: #f0c52e;
    --color-borde-cuaternario: #ffffff;
    --color-borde-quinario: #e9e9e9;
    --color-borde-senario: #b18322;
    --color-borde-septenario: #778089;

    /* BREACKPOINT */
    --breakpoint-computadora: 1024px;
    --breakpoint-tablet: 700px;
    --breakpoint-movil: 500px;

    /* ALTURAS */
    --altura-header-principal-computadora: 120px;
    --altura-header-principal-movil: 90px;

    /* ANCHOS */
    --ancho-espacio-pagina-computadora: 50px;
    --ancho-espacio-pagina-movil: 10px;

    /* SOMBRAS */
    --sombra: 0 5px 20px rgba(0, 0, 0, .2);
    --sombra-secundario-izquierda: 2px 0 5px -2px rgba(0, 0, 0, 0.2);
    --sombra-secundario-derecha: -2px 0 5px -2px rgba(0, 0, 0, 0.2);
    --sombra-secundario-arriba: rgba(0, 0, 0, 0.1) 0px -3px 26px;

}