.footer {
    width: 100%;
    background-color: var(--color-fondo-primario);
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--color-texto-cuaternario);
    text-align: center;
}

.footer .contenedor_informacion {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

/* Logo */
.footer .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer .logo img {
    max-width: 100px;
    height: auto;
}

.footer .logo .redes_sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 25px;
}


.footer .enlaces {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.footer .columna h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

.footer .columna ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 20px;
}

.footer .columna ul li {
    margin-bottom: 5px;
    font-size: 14px;
}

.footer .columna ul li a {
    text-decoration: none;
}

.footer .columna ul li a:hover {
    text-decoration: underline;
}

/* Derechos */
.footer .contenedor_derechos {
    padding: 10px;
    font-size: 14px;
}

.footer .contenedor_control {
    display: none;
}

@media (max-width: 768px) {
    .footer .contenedor_informacion {
        grid-template-columns: 1fr;
    }

    .footer .enlaces {
        grid-template-columns: 1fr;
    }

    .footer .logo {
        margin-bottom: 20px;
    }

    .footer .contenedor_acordeon {
        display: none;
    }

    .footer .contenedor_acordeon.mostrar {
        display: block;
    }

    .footer .contenedor_titulo {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer .contenedor_control {
        display: block;
        font-size: 18px;
    }

    .footer .columna h3 {
        font-size: 16px;
    }
}