.partials_contenedor_planes {
    background-color: var(--color-fondo-secundario);
}

.botones_planes {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.boton_plan {
    background-color: var(--color-boton-secundario);
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
}

.boton_plan.active {
    background-color: var(--color-boton-primario);
}

.plan_contenido {
    display: none;
}

.plan_contenido_activo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;    
    padding: 40px 20px;

}

.reserva{
    background-color: var(--color-fondo-cuaternario);

}

@media (max-width: 1000px) {
    .plan_contenido_activo {
        grid-template-columns: 1fr;
    }
}