.partials_contenedor_social {
    width: 100%;
    background-color: var(--color-fondo-primario);
    padding: 60px 40px;
}

.partials_contenedor_social h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: var(--color-texto-cuaternario);
    margin-bottom: 40px;
}

.grid_social {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px 0px;
}

.card_social {
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TITULO SOCIAL */
.titulo_social {
    display: flex;
    width: 100%;
    gap: 10px;
}

.titulo_social img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.titulo_social .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: center;
}

.titulo_social .info h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: .4px;
}

.titulo_social .info h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: .6px;
    color: #ada9a8;
}

.titulo_social .info p {
    color: #0a0a0a;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}


.video {
    width: 100%;
    height: 400px;
    background-color: #ddd;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

/* Clase para redondear bordes del video */
.rounded_video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Asegura que el video mantenga proporciones sin distorsión */
    border-radius: 10px;
    /* Bordes redondeados */
}

.boton_seguir {
    width: 148px;
    height: 32px;
    margin-top: 4px;
    background: #4192ef;
    color: #fafafa;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

@media (max-width: 700px) {
    .grid_social {
        grid-template-columns: 1fr;
    }
}