.partials_contenedor_social {
    width: 100%;
    background-color: var(--color-fondo-primario);
    padding: 60px 40px;
}

.partials_contenedor_social h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: var(--color-texto-cuaternario);
    margin-bottom: 40px;
}

.partials_contenedor_social .grid_social {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px 0px;
}

.partials_contenedor_social .card_social {
    padding: 20px;
    background-color: var(--color-fondo-cuaternario);
    border-radius: 6px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TITULO SOCIAL */
.partials_contenedor_social .titulo_social {
    display: flex;
    width: 100%;
    gap: 10px;
}

.partials_contenedor_social .titulo_social img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.partials_contenedor_social .titulo_social .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: center;
}

.partials_contenedor_social .titulo_social .info h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: .4px;
}

.partials_contenedor_social .titulo_social .info h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: .6px;
    color: #ada9a8;
}

.partials_contenedor_social .titulo_social .info p {
    color: #0a0a0a;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

/* VIDEO */
.partials_contenedor_social .video {
    width: 100%;
    height: 400px;
    background-color:  var(--color-fondo-quinario);
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.partials_contenedor_social .rounded_video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

/* BOTON */
.partials_contenedor_social .boton_seguir {
    width: 148px;
    height: 32px;
    margin-top: 4px;
    color: var(--color-texto-cuaternario);
    border-radius: 6px;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.partials_contenedor_social .social_tiktok .boton_seguir {
    background-color: #000000;
}

.partials_contenedor_social .social_instagram .boton_seguir {
    background-color: #cb0088;
}

.partials_contenedor_social .social_facebook .boton_seguir {
    background-color: #1778f2;
}

@media (max-width: 700px) {

    .partials_contenedor_social .grid_social {
        grid-template-columns: 1fr;
    }

}